<header id="topo_paginaPrincipal">
            <nav id="nav_topo">
                  <div class="dropdown">
                        <button class="dropbtn"> Menu </button>
                  <div class="dropdown-content">
                 <a href="/">  Sair  </a>
                        <a href="/pessoal/{{tipo_usuario}}/{{id_usuario}}/">Página inicial</a>
                  </div>
      </div>
      </nav>
      
</header>
        <article id="cpCadastro">
        <h1>Atualização de dados - Pesquisador</h1><hr>
        {{#each erros_pes}}
            <div class="alert alert-danger">{{texto}}</div>
        {{else}}
        {{/each}}

        {{#if atualizou}}
            <div class="alert alert-success" role="alert">Dados atualizados com sucesso!</div>
        {{else}}
        {{/if}}
                    <div id="cadastropt1" class="sep_cas" >
                        <form action="/att_pesq/{{pesquisador.dataValues.id}}" method="POST">
                            Nome Completo:<input type="text" name="nome" value="{{pesquisador.dataValues.nome}}"  pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" ><br><br>

                            Data de nascimento:<span id='mov1'> <input type="date" name="data_nasc"></span> <span id='font1'> {{#formataAno pesquisador.dataValues.datanasc}}{{/formataAno}} 
                            </span> <br>

                            E-mail: <span id='mov2'>  <input type="email" name="email" value="{{pesquisador.dataValues.email}}" > </span>  
                            
                            <hr>
                            Data em que comecei a trabalhar com ciência de dados:<br>
                            <span id='mov4'> <input type="date" name="data_inicio" > </span><span id='font1'>{{#formataAno pesquisador.dataValues.data_inicio_cd}}{{/formataAno}}</span> 

                            <fieldset>
                                <legend>Local de trabalho</legend>
                        
                            Estado: <select name="estado">
                                    <option value="{{pesquisador.dataValues.uf}}">{{pesquisador.dataValues.uf}}</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>

                                <span id='mov5'> Cidade:<input type="text" name="cidade" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" value="{{pesquisador.dataValues.cidade}}"> </span>


                            </fieldset>
                            Instituição onde realiza sua pesquisa: <input type="text" name="instituicao" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" value="{{pesquisador.dataValues.instituicao_pesquisa}}">

                            <fieldset>
                                <legend> Formação </legend>
                                
                                <select name="nivel_form" id="">
                                <option value="{{pesquisador.dataValues.nivel_formacao}}">{{pesquisador.dataValues.nivel_formacao}}</option>
                                <option value="Superior - Incompleto">Superior - Incompleto</option>
                                <option value="Superior - Completo">Superior - Completo</option>
                                <option value="Pós-graduação (Lato senso) - Incompleto">Pós-graduação (Lato senso) - Incompleto</option>
                                <option value="Pós-graduação (Lato senso) - Completo">Pós-graduação (Lato senso) - Completo</option>
                                <option value="Pós-graduação (Stricto sensu, nível mestrado) - Incompleto">Pós-graduação (Stricto sensu, nível mestrado) - Incompleto</option>
                                <option value="Pós-graduação (Stricto sensu, nível mestrado) - Completo">Pós-graduação (Stricto sensu, nível mestrado) - Completo</option>
                                <option value="Pós-graduação (Stricto sensu, nível doutor) - Incompleto">Pós-graduação (Stricto sensu, nível doutor) - Incompleto</option>
                                <option value="Pós-graduação (Stricto sensu, nível doutor) - Completo">Pós-graduação (Stricto sensu, nível doutor) - Completo</option>

                            </select>
                            <br> <br>

                                Instituicão de formação: <span id="mov6"> <input type="text" name="local_form" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" value="{{pesquisador.dataValues.instituicao_formacao}}"> </span>

                            </fieldset>

                            Currículos Lattes: <input type="text" name="linkcv" value="{{pesquisador.dataValues.link_cv}}"> <br>

                     Tópicos de interesse: <input type="text" name="cid_topicos" value="{{pesquisador.dataValues.temas_interesse}}">
                    <ul>
                   
                        <li><input type="checkbox" name="selecao_topicos" id="" value="algorithm"> algorithm </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="AngularJS"> AngularJS </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="artificial intelligence"> artificial intelligence </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="backpropagation"> backpropagation </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Bayes' Theorem"> Bayes' Theorem </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Bayesian network"> Bayesian network </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="bias"> bias </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Big Data"> Big Data </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="binomial distribution"> binomial distribution </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="chi-square test"> chi-square test </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="classification"> classification </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="clustering"> clustering </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="coefficient"> coefficient </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="computational linguistics"> computational linguistics </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="confidence interval"> confidence interval </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="continuous variable"> continuous variable </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="correlation"> correlation </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="covariance"> covariance </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="cross-validation"> cross-validation </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="D3"> D3 </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="data engineer"> data engineer </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="data mining"> data mining </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="data science"> data science </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="data structure"> data structure </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="data wrangling"> data wrangling </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="decision trees"> decision trees </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="deep learning"> deep learning </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="dependent variable"> dependent variable </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="dimension reduction"> dimension reduction </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="discrete variable"> discrete variable </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="econometrics"> econometrics </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="feature"> feature </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="feature engineering"> feature engineering </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="GATE"> GATE </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="gradient boosting"> gradient boosting </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="histogram"> histogram </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="independent variable"> independent variable </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="JavaScript"> JavaScript </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="machine learning"> machine learning </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Markov Chain"> Markov Chain </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="matrix"> matrix </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Monte Carlo method"> Monte Carlo method </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="neural network"> neural network </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="NoSQL"> NoSQL </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="outlier"> outlier </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="P value"> P value </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Pandas"> Pandas </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Perl"> Perl </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="predictive analytics"> predictive analytics </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="probability distribution"> probability distribution </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Python"> Python </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="R"> R </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Ruby"> Ruby </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="SAS"> SAS </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="SQL"> SQL </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Tableau"> Tableau </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="UIMA"> UIMA </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="unsupervised learning"> unsupervised learning </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="variance"> variance </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="vector"> vector </li>
                        <li><input type="checkbox" name="selecao_topicos" id="" value="Weka"> Weka </li>
                    </ul>
                            
                            <button type="submit" >Verificar</button>
                        </form>
                    </div>
            </article>
        </section>