<header id="topo_paginaPrincipal">
            <nav id="nav_topo">
                  <div class="dropdown">
                        <button class="dropbtn"> Menu </button>
                  <div class="dropdown-content">
                 <a href="/">  Sair  </a>
                        <a href="/pessoal/{{tipo_usuario}}/{{id_usuario}}/">Página inicial</a>
                  </div>
      </div>
      </nav>
      
</header>

      

<aside id="iside1_pagini">
            <div>
                  <div id='foto'> foto </div>
                  <h2>{{dados_perfil.dataValues.nome}} </h2>
                  {{#if ja_segue}}
                        <a href="./seguir/">Deixar de seguir</a>
                  {{else}}
                        <a href="./seguir/">Seguir</a>   
                  {{/if}}

                  {{#each texto_segue}}
                        {{dataValues}}
                  {{/each}}
                  <p>Total de seguidores: {{total_seguidores}}</p>
                  
                  <hr>
                  {{#if eh_pesquisador}}
                        <p>Nível de formação: {{dados_perfil.dataValues.nivel_formacao}}</p>
                        <p>Instituição de Formação: {{dados_perfil.dataValues.instituicao_formacao}}</p>
                        <p>Local de trabalho: {{dados_perfil.dataValues.cidade}} | {{dados_perfil.dataValues.uf}}</p>
                        <p>Instituição de Pesquisa: {{dados_perfil.dataValues.instituicao_pesquisa}}</p>
                        <hr>
                        <p>E-mail: {{dados_perfil.dataValues.email}}</p>
                        <p>Nascimento: {{#formataAno dados_perfil.dataValues.datanasc}}{{/formataAno}}</p>
                        <p>Início com ciência de dados: {{#formataAno dados_perfil.dataValues.data_inicio_cd}} {{/formataAno}}</p>
                        <a href="https://{{dados_perfil.dataValues.link_cv}}/" target="_blank">Currículo Lattes</a>
                        <p>Tópicos de interesse: {{dados_perfil.dataValues.temas_interesse}}</p>
                  {{else}}
                        <p>Escolaridade: {{dados_perfil.dataValues.escolaridade}}</p>
                        <p>E-mail: {{dados_perfil.dataValues.email}}</p>
                        <p>Nascimento: {{#formataAno dados_perfil.dataValues.datanasc}}{{/formataAno}}</p>
                        <p>Tópicos de interesse: {{dados_perfil.dataValues.temas_interesse}}</p>

             
                  {{/if}}
               
                  
            </div>
    
</aside>

<aside id="iside2_pagini">
      <div class="list-group">
            <ul><span id="seguidores">Seguidores:</span>
                 
            {{#each lista_pesquisadores}}
                  <li><a href="/visita/pesquisador/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Seguido por nenhum pesquisador</a></li>
            {{/each}}
            {{#each lista_cidadaos}}
                  <li><a href="/visita/cidadao/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Seguido por nenhum cidadão</a></li>
            {{/each}}
            </ul>
      </div>

      <div class="list-group">
            <ul><span id="seguidores">Seguindo:</span>
                 
            {{#each lista_pesquisadoresSeguindo}}
                  <li><a href="/visita/pesquisador/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Segue nenhum pesquisador</a></li>
            {{/each}}
            {{#each lista_cidadaosSeguindo}}
                  <li><a href="/visita/cidadao/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Segue nenhum cidadão</a></li>
            {{/each}}
            </ul>
      </div>
</aside>





<section id="section_ini">    
      <h1>Postagens</h1>
      {{#each postagens}}
            <div id="quadro_postagens">
                  <small>postado em {{#formatDate dataValues.createdAt}}{{/formatDate}}</small>
                  <div class="clear"></div>
                  <hr> 
                  <p>{{dataValues.conteudo}}</p>
                  <hr>
                                   <p class="curtidas_post">Curtidas: {{dataValues.curtidas}} 
                                      
                  <a href="/curtir/{{dataValues.id}}/">Curtir</a></p>
                  <div class="clear"></div>
            </div>
      {{else}}
      <p>{{dados_perfil.dataValues.nome}} não possui nenhuma postagem até o momento.</p>
      {{/each}}    

      {{#if eh_pesquisador}}
      <h1>Publicações</h1>
            {{#each publicacoes}}
                  <div id="quadro_postagens">
                        <small>publicado em {{#formatDate dataValues.createdAt}}{{/formatDate}}</small>
                        <div class="clear"></div>
                        <p class="titulo_pub"><b>{{dataValues.titulo_publicacao}}</p></b>
                        <hr>
                  
                        <div class="info_pub">
                              <i>Local de publicação: {{dataValues.local_publicacao}}</i><br>
                              <i>Ano: {{dataValues.ano_publicacao}}</i><br>
                              <i><a href="https://{{dataValues.url_publicacao}}/" target="_blank">URL da publicação</a><br></i>
                              <i>Tags: {{dataValues.tags_publicacao}}<br></i>
                              <a href="/publicacoes/{{dataValues.arquivo}}" target="_blank">Download da publicação</a>           
                  </div>
                        <p class="resumo_pub"><b>Resumo:</b>{{dataValues.resumo_publicacao}}</p>
                  <div class="clear"></div>
                  <hr>
                        <p class="curtidas_post">Curtidas: {{dataValues.curtidas}} 
                        <a href="/curtir_pub/{{dataValues.id}}/">Curtir</a></p>
                  <div class="clear"></div>
                  </div>
            {{else}}
                  <p>{{dados_perfil.dataValues.nome}} não possui nenhuma publicação até o momento.</p>
            {{/each}}
      {{else}}
      {{/if}}
</section>
