<header>
      <nav id="nav_topo">
            <div class="dropdownpg">
                  <button class="dropbtnpg"> Menu </button>
                  <div class="dropdown-contentpg">

                        <a href="/">  Sair  </a>
                        <a href="/pessoal/{{tipo_usuario}}/{{id_usuario}}/">Página inicial</a>
                  </div>
            </div>
      </nav>

</header>

      

<aside id="iside1_pagini1">
            <div>
                  <div id='foto'> foto </div>
                  <h2>{{dados_perfil.dataValues.nome}} </h2>
                  <a href="./seguir/">Seguir</a>
                  {{#each texto_segue}}
                        {{dataValues}}
                  {{/each}}
                  <p>Total de seguidores: {{total_seguidores}}</p>
                  
                  <hr>
                  {{#if eh_pesquisador}}
                        <p>Nível de formação: {{dados_perfil.dataValues.nivel_formacao}}</p>
                        <p>Instituição de Formação: {{dados_perfil.dataValues.instituicao_formacao}}</p>
                        <p>Local de trabalho: {{dados_perfil.dataValues.cidade}} | {{dados_perfil.dataValues.uf}}</p>
                        <p>Instituição de Pesquisa: {{dados_perfil.dataValues.instituicao_pesquisa}}</p>
                        <hr>
                        <p>E-mail: {{dados_perfil.dataValues.email}}</p>
                        <p>Nascimento: {{#formataAno dados_perfil.dataValues.datanasc}}{{/formataAno}}</p>
                        <p>Início com ciência de dados: {{#formataAno dados_perfil.dataValues.data_inicio_cd}} {{/formataAno}}</p>
                        <a href="https://{{dados_perfil.dataValues.link_cv}}/" target="_blank">Currículo Lattes</a>
                  {{else}}
                        <p>Escolaridade: {{dados_perfil.dataValues.escolaridade}}</p>
                        <p>E-mail: {{dados_perfil.dataValues.email}}</p>
                        <p>Nascimento: {{#formataAno dados_perfil.dataValues.datanasc}}{{/formataAno}}</p>


             
                  {{/if}}
               
                  
            </div>
    
</aside>

<aside id="iside2_pagini1">
      <div class="list-group">
            <ul><span id="seguidores">Seguidores:</span>
                 
            {{#each lista_pesquisadores}}
                  <li><a href="/visita/pesquisador/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Seguido por nenhum pesquisador</a></li>
            {{/each}}
            {{#each lista_cidadaos}}
                  <li><a href="/visita/cidadao/{{dataValues.id}}/" class="list-group-item list-group-item-action list-group-item-light">{{dataValues.nome}}</a></li>
            {{else}}
                  <li> <a class="list-group-item list-group-item-action list-group-item-secondary">Seguido por nenhum cidadão</a></li>
            {{/each}}
            </ul>
      </div>
</aside>
<div div="corpo_meio">
<section id="section_ini">    
      <h1>Postagens</h1>
      {{#each postagens}}
            <div id="quadro_postagens">
                  <small>postado em {{#formatDate dataValues.createdAt}}{{/formatDate}}</small>
                  <div class="clear"></div>
                  <hr> 
                  <p>{{dataValues.conteudo}}</p>
                  <hr>
                  Curtidas: {{dataValues.curtidas}} <a href="/curtir/{{dataValues.id}}">Curtir</a>
            </div>
      {{else}}
      <p>{{dados_perfil.dataValues.nome}} não possui nenhuma postagem até o momento.</p>
      {{/each}}    

      {{#if eh_pesquisador}}
      <h1>Publicações</h1>
            {{#each publicacoes}}
                  <div id="quadro_postagens">
                        <small>publicado em {{#formatDate dataValues.createdAt}}{{/formatDate}}</small>
                        <div class="clear"></div>
                        <p><b>{{dataValues.titulo_publicacao}}</p></b>
                        <hr>
                        <p>{{dataValues.resumo_publicacao}}</p>
                        <i>Local de publicação: {{dataValues.local_publicacao}}</i><br>
                        <i>Ano: {{dataValues.ano_publicacao}}</i><br>
                        <a href="https://{{dataValues.url_publicacao}}/" target="_blank">URL da publicação</a><br>
                        Tags: {{dataValues.tags_publicacao}}
                        <hr>
                        Curtidas: {{dataValues.curtidas}} <a href="/curtir_pub/{{dataValues.id}}">Curtir</a>
                  </div>
            {{else}}
            <p>{{dados_perfil.dataValues.nome}} não possui nenhuma publicação até o momento.</p>
            {{/each}}
      {{else}}
      {{/if}}
</section>
</div>